footer {
  background: #1e1e1e; }
  footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 3% 0; }
    footer ul li {
      margin: 1%; }

* {
  font-family: Roboto;
  padding: 0;
  margin: 0; }

header .menu {
  height: 90px;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
  display: flex;
  justify-content: space-between; }
  header .menu .logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 1s;
    padding: 30px 0;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px; }
    header .menu .logo span {
      color: #fed6e3; }
    header .menu .logo:hover {
      cursor: default; }
    @media (max-width: 700px) {
      header .menu .logo {
        margin: 0 auto;
        font-size: 32px; } }
  @media (max-width: 700px) {
    header .menu {
      flex-direction: column; } }

header .navigation .nav_li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 35px 10px;
  display: inline-block;
  font-size: 14px;
  transition: .3s; }
  header .navigation .nav_li:hover {
    color: #fed6e3;
    cursor: pointer;
    transition: .3s; }

@media (max-width: 700px) {
  header .navigation {
    display: flex;
    justify-content: center;
    justify-content: space-around; } }

header .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 719px;
  background-image: url(../img/plant.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s; }
  header .slider .slider_container {
    background-color: white;
    width: 550px;
    height: 100%;
    text-align: center;
    transition: 1s; }
    header .slider .slider_container .rect {
      margin: 0 auto;
      margin-top: 40px;
      width: 60px;
      height: 5px;
      background-color: #fed6e3; }
    header .slider .slider_container h1 {
      transition: 1s;
      margin: 30px 0;
      font-size: 42px;
      font-weight: 100;
      letter-spacing: 3px;
      color: #1e1e1e; }
      @media (max-width: 700px) {
        header .slider .slider_container h1 {
          font-size: 32px;
          letter-spacing: normal; } }
      @media (max-width: 400px) {
        header .slider .slider_container h1 {
          font-size: 28px;
          letter-spacing: normal; } }
    header .slider .slider_container h3 {
      margin-bottom: 40px;
      font-size: 26px;
      font-weight: 100;
      color: gray; }
    @media (max-width: 700px) {
      header .slider .slider_container {
        width: 350px; } }
    @media (max-width: 400px) {
      header .slider .slider_container {
        width: 280px; } }
  @media (max-width: 700px) {
    header .slider {
      min-height: 500px; } }

.quote {
  background-image: url(../img/quotes--bg.png);
  background-size: cover; }
  .quote .text_container {
    margin: 0 5%; }
    .quote .text_container h5 {
      text-align: center;
      padding: 40px 0;
      font-size: 18px;
      font-weight: lighter;
      color: white;
      letter-spacing: 2px; }
    .quote .text_container h6 {
      text-align: center;
      padding-bottom: 40px;
      font-size: 24px;
      font-weight: bold;
      color: white;
      letter-spacing: 2px; }

.portfolio {
  margin: 5% 5%; }
  .portfolio h3 {
    color: black;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px; }
  .portfolio .underline {
    background-color: #fed6e3;
    width: 70px;
    height: 2px; }
  .portfolio .portfolio_gallery {
    margin-top: 5%;
    margin-bottom: 5%; }
    .portfolio .portfolio_gallery a {
      margin: 0;
      padding: 0; }
      .portfolio .portfolio_gallery a img {
        padding: 0;
        margin: 0; }

.about h3 {
  margin: 0 5%;
  color: black;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 10px; }

.about .underline {
  margin: 0 5%;
  margin-bottom: 5%;
  background-color: #fed6e3;
  width: 70px;
  height: 2px; }

.about .about_container {
  background-image: url(../img/about_bg.png);
  background-size: cover;
  background-repeat: norepeat;
  padding: 2.5% 0% 2.5% 10%; }
  .about .about_container h4 {
    margin: 2.5% 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px; }
  .about .about_container .info_container {
    margin-top: 5%;
    margin-left: 2.5%; }
    .about .about_container .info_container li {
      display: flex;
      flex-wrap: wrap;
      margin: 2% 0; }
      .about .about_container .info_container li img {
        width: 15px;
        height: 20px;
        padding-right: 10px; }
      .about .about_container .info_container li p {
        font-size: 14px;
        color: #888;
        letter-spacing: 1px; }

.contact h3 {
  margin: 0 5%;
  color: black;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5%; }

.contact .underline {
  margin: 0 5%;
  margin-bottom: 10%;
  background-color: #fed6e3;
  width: 70px;
  height: 2px; }

.contact .contact_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 940px) {
    .contact .contact_info {
      flex-direction: column;
      align-items: center; } }
  .contact .contact_info li {
    list-style: none;
    margin: 3%; }
    @media (max-width: 940px) {
      .contact .contact_info li {
        margin: 5%; } }
    .contact .contact_info li .border {
      border: solid #1e1e1e;
      border-width: 1px;
      width: 250px;
      height: 130px;
      text-align: center;
      margin: 20% 0; }
      @media (max-width: 940px) {
        .contact .contact_info li .border {
          width: 350px;
          height: 230px;
          margin: 20% 0; } }
      @media (max-width: 400px) {
        .contact .contact_info li .border {
          width: 240px;
          height: 120px;
          margin: 10% 0; } }
      .contact .contact_info li .border .icon_bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 30%;
        top: -40%;
        background-color: #1e1e1e;
        width: 100px;
        height: 100px; }
        @media (max-width: 940px) {
          .contact .contact_info li .border .icon_bg {
            left: 30%;
            top: -30%;
            width: 150px;
            height: 150px; } }
        @media (max-width: 400px) {
          .contact .contact_info li .border .icon_bg {
            left: 30%;
            top: -40%;
            width: 100px;
            height: 100px; } }
