$pink_color: #fed6e3;

.quote {
    background-image: url(../img/quotes--bg.png);
    background-size: cover;
    .text_container {
        margin: 0 5%;
        h5 {
            text-align: center;
            padding: 40px 0;
        font: {
            size: 18px;
            weight: lighter;
        }
            color: white;
            letter-spacing: 2px;
        }
        h6 {
            text-align: center;
            padding-bottom: 40px;
        font: {
            size: 24px;
            weight: bold;
        }
            color: white;
            letter-spacing: 2px;
        }
    }
    
}
.portfolio {
    margin: 5% 5%;
    h3 {
        color: black;
        font-weight: lighter;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .underline {
        background-color: $pink_color;
        width: 100px;
        height: 2px;
    }
    .portfolio_gallery {
        margin: {
            top: 5%;
            bottom: 5%;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            img {
                max-height: 345px;
            }
        }
    }
}