$pink_color: #fed6e3;

.arrow_top {
    img {
        object-fit: cover;
        width: 30px;
        height: 30px;
    }
}

.quote {
    outline: 0;
    background-image: url(../img/quotes--bg.png);
    background-size: cover;
    .text_container {
        margin: 0 5%;
        h5 {
            text-align: center;
            padding: {
                top: 60px;
                bottom: 20px;
            }
        font: {
            size: 16px;
            weight: 300;
        }
            color: white;
            letter-spacing: 2px;
        }
        h6 {
            text-align: center;
            padding-bottom: 60px;
        font: {
            size: 20px;
            weight: 800;
        }
            color: white;
            letter-spacing: 2px;
        }
    }
    
}
.portfolio {
    outline: 0;
    margin: 5% 5%;
    h3 {
        color: black;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .underline {
        background-color: $pink_color;
        width: 70px;
        height: 2px;
    }
    .portfolio_gallery {
        margin: {
            top: 5%;
            bottom: 5%;
        }
        a {
            margin: 0;
            padding: 0;
            img {
                object-fit: cover;
                padding: 0;
                margin: 0;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
.about {
    outline: 0;
    h3 {
        margin: 0 5%;
        color: black;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .underline {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color: $pink_color;
        width: 70px;
        height: 2px;
    }
    .about_container {
        background: {
            image: url(../img/about_bg.png);
            size: cover;
            repeat: norepeat;
        }
        padding: 2.5% 0% 2.5% 10%;
        h4 {
            margin: 2.5% 0;
            font: {
                weight: 900;
                size: 24px;
            }
            letter-spacing: 3px;
        }
        .info_container {
            margin: {
                top: 5%;
                left: 1.5%;
            }
            li {
                display: flex;
                flex-wrap: wrap;
                margin: 2% 0;
                img {
                    width: 15px;
                    height: 20px;
                    padding-right: 10px;
                }
                p {
                    font: {
                        size: 14px;
                        weight: 300;
                    }
                    color: #888;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
.contact {
    outline: 0;
    h3 {
        margin: 0 5%;
        color: black;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 5%;
    }
    .underline {
        margin: 0 5%;
        margin-bottom: 10%;
        background-color: $pink_color;
        width: 70px;
        height: 2px;
    }
    .contact_info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 940px) {
            flex-direction: column;
            align-items: center;
        }
        li {
            list-style: none;
            margin: 0 3%;
            @media (max-width: 400px) {
                margin: 5%;
            }
            .border {
                border: solid #1e1e1e;
                border-width: 1px;
                width: 250px;
                height: 130px;
                text-align: center;
                margin-bottom: 20%;                
                @media (max-width: 940px) {
                    width: 350px;
                    height: 230px;
                    margin: 20% 0;
                }
                @media (max-width: 400px) {
                    width: 240px;
                    height: 120px;
                    margin: 10% 0;
                }
                p {
                    font-weight: 300;
                }
                .icon_bg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    left: 30%;
                    top: -40%;
                    background-color: #1e1e1e;
                    width: 100px;
                    height: 100px;
                    @media (max-width: 940px) {
                        left: 30%;
                        top: -30%;
                        width: 150px;
                        height: 150px;
                    }
                    @media (max-width: 400px) {
                        left: 30%;
                        top: -40%;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}